html{
	font-size: 16px;
}

h1{
	position: absolute;
	background-color: white;
	left: 42%;
	font-size: 5em;
	top: 45%;
}

.container{
	position: absolute;
	width: 99%;
	height: 99%;
}
.box{
	position: absolute;
}

#box1{
	background-color: #96D7D9;
	height: 70%;
	width: 45%;
	left: 20%;
	top: 10%;
}

#box2{
	height: 50%;
	width: 43%;
	left: 40%;
	top: 40%;
	border: 0.4em solid black;
}